body {
    background: radial-gradient(circle, #020617, #000);
    color: #e6f1ff;
}

h1 {
    color: #00f5ff;
    text-shadow: 0 0 20px #00f5ff;
}

div[data-testid="stMetric"] {
    background: rgba(0,255,255,0.05);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0,255,255,0.3);
}
